.background1 {
  height: 80vh;
  width: 60vw;
  opacity: 0.08;
  position: fixed;
  border-radius: 50%;
  backdrop-filter: blur(500px);
  z-index: -1;
  right: -15vw;
  top: 20vw;
}

.background2 {
  opacity: 0.08;
  position: fixed;
  border-radius: 50%;
  backdrop-filter: blur(500px);
  z-index: -1;
  height: 80vh;
  width: 50vw;
  left: -5vw;
  top: -35vh;

}
